@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Roboto+Condensed");
* {
  transition: ease-in-out .2s; }

.uppercase {
  text-transform: uppercase; }

.chat-window {
  background-color: #424242;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white; }
  .chat-window strong {
    margin-left: 25px; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  body .hidden {
    display: none !important; }
  body #root {
    width: 100%; }
    body #root a {
      text-decoration: none;
      color: black; }
